<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEPM-Homepage</title>
    <meta content="TEPM-homepage" name="portfolio">
    <meta content="homepage, flask, search, TEPM" name="keywords">
    <meta content="Tin Eugen Pavše Mandić" name="author">
    <script crossorigin="anonymous" src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"></script>
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <a href="#home">Home</a>
        <a href="#aboutme">About me</a>
        <a href="#portfolio">Portfolio</a>
        <a href="#gallery">Gallery</a>
    </div>

    {% block content %}
    {% endblock content %}
</body>
</html>